:root {
  --color-primary: #98772e;
  --color-secondary: #5d270d;
  --color-third: #02332d;
  --color-sub: #e3c17b;
  --color-body: #eae0c8;
  --color-white: #ffffff;

  --header-height: 80px;
  --header-up: calc(var(--header-height) * -1);

  --trans: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background-image: url("../images/bg_body.png");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.b1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-secondary);
}
.spacing-70 {
  margin-top: 70px;
}
/* css header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.header__hamburger .button-burger {
  width: 40px;
  height: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.button-burger__line {
  width: 100%;
  height: 1px;
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
}
.button-burger__line:last-child {
  width: 50%;
}
.header__container {
  padding: 0 40px;
  height: var(--header-height);
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
}
.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__bg {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
}

.header__right {
  gap: 24px;
}
.header__lang {
  gap: 8px;
}

.header__default {
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}
.header__default.scrolled-down {
  transform: translateY(var(--header-up));
}
.header__search {
  gap: 8px;
}

.header__active {
  position: absolute;
  left: 0;
  right: 0;
}
.header__scroll {
  position: relative;
  height: var(--header-height);
  background-color: var(--color-white);
  padding: 0 40px;
}
.header__menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__menu ul {
  list-style-type: none;
  gap: 32px;
}
.header__menu ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--color-secondary);
  text-decoration: none;
}
/* end css header */
.spacing {
  height: 150vh;
}
/* css banner hero */
.banner-hero__container {
  height: 100vh;
  width: 100%;
  position: relative;
}
.banner-hero__img {
  width: 100%;
  height: 100%;
}
.banner-hero__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-hero__bg {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.banner-hero__bg img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  object-position: top;
}
.banner-hero__booking {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../images/booking_bg.png");
  background-size: cover;
  width: 946px;
  height: 112px;
}
.banner-hero__booking form {
  gap: 24px;
}
.banner-hero__booking form .date {
  gap: 24px;
}
.banner-hero__booking form input {
  width: 140px;
  border: none;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-secondary);
  font-size: 16px;
  line-height: 24px;
  color: var(--color-secondary);
}
.banner-hero__booking form input::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-secondary);
}
.banner-hero__booking form .select-destination {
  width: 210px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-secondary);
}
.banner-hero__booking form button {
  width: 170px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-secondary);
  font-family: Graphik;
  font-size: 13px;
  font-weight: 600;
  line-height: 14px;
  color: var(--color-secondary);
  transition: var(--trans);
}
.banner-hero__booking form button:hover {
  color: var(--color-white);
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
}
.banner-hero__container .line-cap {
  position: absolute;
  width: 4px;
  height: 95px;
  background-color: var(--color-secondary);
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
  z-index: 2;
  mask-image: url("../images/stroke_line.svg");
}
/* end css banner hero */

/* css title sec */

.title-sec__content .logo {
  margin-bottom: 60px;
}
.title-sec__content h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  text-align: center;
  color: var(--color-secondary);
  margin-bottom: 100px;
}
.title-sec .line-cap {
  width: 4px;
  height: 95px;
  background-color: var(--color-secondary);
  mask-image: url("../images/stroke_line.svg");
}

/* end css title sec */

/* css hotels sec */
.hotels-sec__container {
  position: relative;
  padding: 0 40px;
}
.hotels-sec__container .lines__horizontal {
  position: absolute;
  height: 4px;
  width: 335px;
  background-color: var(--color-secondary);
  left: 50%;
  mask-image: url("../images/stroke_line_horizontal.svg");
  top: 0;
  transform: translateY(-100%);
}
.hotels-sec__title {
  position: absolute;
  right: 150px;
  top: 0;
  transform: translateY(-50%);

  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  text-align: center;
  color: var(--color-secondary);
}
.lines__vertical {
  position: absolute;
  right: 40px;
  top: 0;
  width: 4px;
  height: 800px;
  background-color: var(--color-secondary);
  mask-image: url("../images/stroke_line_full.svg");
}
/* end css hotels sec */
